
@{
    ViewBag.Title = "FoodDetail2";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/canhga.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Cánh gà nướng mật ong</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>
                            - Cánh gà là thực phẩm được cả trẻ em và người lớn ưa chuộng. Các món ngon như cánh gà chiên nước mắm,
                            cánh gà tẩm bột chiên giòn, hay cánh gà rang muối đều có thể tìm thấy ở nhiều nhà hàng, quán ăn.
                        </p>
                        <p>- Với một chút biến tấu trong cách chế biến, món cánh gà nướng mật ong không chỉ ngon mà còn mang đến cho người thưởng thức nhiều cung bậc cảm xúc khác nhau..</p>

                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <p>Cánh gà ( chuẩn bị theo số lượng người ăn ) </p>
                                <p>bột tỏi (hoặc tỏi băm) </p>
                                <p>hành khô </p>
                                <p>mật ong</p>
                                <p>dầu hào</p>
                                <p>tiêu trắng</p>
                                <p>giấm</p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4> sơ chế  </h4>
                                <p>- Cho cánh gà vào trong âu lớn, cho thêm một muỗng giấm và ít muối rồi bóp kỹ. </p>
                                <p>- Tiếp theo thì rửa lại cánh gà thật sạch với nước rồi để cho ráo sau đó thì khứa những đường chéo trên cánh gá để khi ướp sẽ thấm hơn .</p>
                                <p>- Hành khô thì bóc vỏ rửa với nước rồi băm hoặc xay nhuyễn. </p>
                                <h4> Ướp gà </h4>
                                <p>- Cho cánh gà vào một cái tô lớn rồi tiến hành nêm gia vị ướp theo công thức sau: </p>
                                <p>1 muỗng muối</p>
                                <p>1 muỗng dầu hào</p>
                                <p>2 muỗng mật ong</p>
                                <p>1 muổng cà phê bột tỏi hoặc tỏi băm, hành băm nhỏ</p>
                                <p>- Có thể gia giảm lượng gia vị theo số lượng cánh gà, sau khi cho tất cả gia vị vào thì trộn đều tất cả lên, có thể bóp nhẹ bằng tay để cánh gà được thấm hơn.</p>
                                <p>- Sau đó thì cho vào trong tủ lạnh và ướp trong 2 tiếng</p>
                                <h4>Nướng cánh gà</h4>
                                <p>- Sau khi ướp gà xong thì ta sẽ tiến hành nướng gà, bật lò nướng ở mức 200 độ C, lót một lớp giấy bạc vào khay nướng sau đó thì xếp cánh gà lên rồi cho vào trong lò.</p>
                                <p>- Nướng trong khoảng 12 phút thì gà ra rồi dùng cọ phết lớp hỗn hợp ướp lên cánh gà rồi tiếp tục cho lại vào trong lò </p>
                                <p>- nếu nướng bằng than thì ta nên để than thật nóng, khi nướng thì nên trở gà mỗi 5 phút 1 lần để tránh cánh bị cháy đồng thời khi trở gà phải phết lớp nước ướp lên cánh gà.</p>
                                <p>- cánh gà rất nhanh chín thường thì chỉ cần 20 đến 25 phút là đã chín</p>
                                <p>- sau khi nướng xong thì trình bày ra dĩa rồi thưởng thức thôi, bạn có thể ăn không hoặc chấm với một số loại xốt như là tương ớt, Mayonnaise trứng, v.v</p>


                            </div>
                        </div>

                    </div>

            <div class="clear"></div>
            <div class="content-last">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/glass.png" alt="">
                    <h3>Các món thức uống</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/plate.png" alt="">
                    <h3>Các món ăn  chính</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/icecream.png" alt="">
                    <h3>Món ngọt</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/leaf.png" alt="">
                    <h3>tìm hiểu thêm</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
              
            </div>
        </div>
    </div>
</body>
</html>