
@{
    ViewBag.Title = "FoodDetail6";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/laugalagiang.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Lẩu gà lá giang</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>- Lẩu gà lá giang là một trong những biến tấu mới lạ, hấp dẫn của lẩu gà. Lá giang có vị chua dịu, dễ ăn, thanh mát nên có khả năng giải nhiệt tốt.</p>
                        <p>- Kết hợp lá giang với măng chua trong món lẩu gà đã tạo nên hương vị độc đáo, thơm ngon và bổ dưỡng cho sức khỏe. Vì thế, lẩu gà lá giang măng chua đã trở thành món khoái khẩu của rất nhiều người.</p>
                        </p>
                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <p> Thịt gà </p>
                                <p> Lá giang </p>
                                <p> Hành tím </p>
                                <p> Hành lá/ ngò rí </p>
                                <p> Gừng </p>
                                <p> Chanh </p>
                                <p> Gia vị: muối, đường, hạt nêm, bột ngọt, tiêu xay </p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4> Sơ chế </h4>
                                <p> - Trụng sơ gà qua nước sôi,để khử mùi hôi thịt gà bạn chà xát gà với một củ gừng đập dập khoảng 10 phút, sau đó rửa sạch lại với vài lần nước. </p>
                                <p> - Khi gà đã ráo nước thì chặt gà thành từng miếng vừa ăn.</p>
                                <p> - Hành tím rửa sạch rồi lột vỏ, đập dập và băm nhỏ. Hành lá và ngò rí thì rửa sạch, cắt bỏ gốc rễ rồi cắt thành khúc khoảng hai lóng tay.</p>
                                <p> - Lá giang bạn nhặt bỏ những lá sâu hư rồi rửa sạch, vò nhẹ lá giang cho nát để tiết ra chất chua khi nấu.</p>
                                <h4> Cách nấu </h4>
                                <p> - Cho gà vào tô rồi tiếp tục cho toàn bộ hành tím băm nhỏ, 1/3 muỗng canh muối, 1 muỗng canh đường, 1/3 muỗng canh bột ngọt, 1 ít tiêu xanh và 1/3 muỗng canh hạt nêm vào. </p>
                                <p> - Dùng đũa hoặc găng tay thực phẩm để trộn đều lên cho thịt gà thấm gia vị rồi ướp khoảng 15 - 30 phút. </p>
                                <p> - Bắc một cái nồi lớn lên bếp, cho vào 1 muỗng canh dầu ăn rồi đun nóng với lửa vừa. Sau đó cho phần thịt gà đã ướp vào xào sơ trong 5 - 10 phút để gà săn lại.</p>
                                <p> - Sau đó đổ 1.2 lít nước vào nồi đun khoảng 15 phút trên lửa vừa cho gà mềm và ra nước ngọt.</p>
                                <p> - Cuối cùng cho lá giang vào nấu thêm 3 phút trên lửa vừa, đồng thời nêm thêm 1/2 muỗng canh muối, 2 muỗng canh đường, 1/3 muỗng canh hạt nêm, 1/3 muỗng canh bột ngọt, 1 ít tiêu xay và vắt thêm 1 miếng chanh để tạo vị chua.</p>
                                <p> - Khi nước canh sôi bùng bạn nêm nếm lại gia vị cho vừa ăn rồi tắt bếp.</p>



                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>