
@{
    ViewBag.Title = "FoodDetail1";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/Suonnon.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Sườn non hầm rau củ</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                    <p>
                        - Canh sườn là một trong những món ăn ngon được nhiều người yêu thích, không những vậy món canh này còn cực kỳ bổ dưỡng.
                        Đây là món rất hợp cho những người mới tập nấu ăn, không cần nguyên liệu đắt tiền hay cầu kỳ trong công đoạn chế biến. </p>

                    <p>- Chỉ trong vài công đoạn đơn giản bạn sẽ có ngay món ăn hấp dẫn để chiêu đãi cả gia đình.</p>
                    
                </div>

                <div class="clear"></div>
               
                <div class="content-middle">
                    <div class="col_1_of_2 span_1_of_2">
                        <br />
                        <div class="centerDetail">
                            <h3><span class="red">Nguyên liệu </span></h3>
                            <p>300 g sườn non </p>
                            <p>2 củ cà rốt </p>
                            <p>2 củ khoai tây </p>
                            <p>1 cây súp lơ xanh </p>
                            <p>bột nêm </p>
                            <p>hánh lá </p>


                        </div>
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <br />
                        <div class="centerDetail">
                            <h3><span class="red">Cách làm  </span></h3>
                            <h4> Bước 1 : sơ chế </h4>
                            <p>- rửa sạch rồi gọt vỏ cà rốt và khoai tây sau đó cắt thành từng miếng vừa ăn. </p>
                            <p>- ngâm súp lơ trong muối tầm 2 phút để loại bỏ sâu rồi rửa sạch và cắt thành từng miếng nhỏ vừa ăn. Sau đó đem trần sơ qua với nước sôi rồi rửa lại lần nữa để sườn không bị hôi. </p>
                            <p>- rửa sạch sườn với nước rồi cắt thành miếng vừa ăn. </p>
                            <p>- cắt nhỏ hành lá </p>
                            <h4> Bước 2 : Cách nấu </h4>
                            <p>- Cho sườn vào nồi đun ngập nước,khi thấy nước bắt đầu sôi và có bọt bẩn nổi lên thì vặn nhỏ lửa rồi dùng muôi vớt hết bọt ra rồi tiếp tục nấu trong khoảng 10 phút để xương được nhừ hơn và nước trong hơn, sau đó thì để lửa liu riu để hầm sườn. </p>
                            <p>-cho một muổng bột nêm vào rồi nêm nhấm cho vừa ăn. Sau đó cho lần lượt cà rốt và khoai tây vào, khi thấy khoai đã gần chín thì cho súp lơ vào. Nấu thâm khoảng 2 - 3 phút cho đến khi rau củ chín thì cho hành lá vào rồi tắt bếp. </p>




                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
               
            </div>
        </div>
    </div>
</body>
</html>