

@{
    ViewBag.Title = "FoodDetail3";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/canhkimchi.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Canh kim chi thịt bò</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                    <p>- Kim chi là một món ăn truyền thống của người Hàn Quốc và ngày càng phổ biến tại Việt Nam. Ngoài được sử dụng để làm món ăn kèm, kim chi còn được dùng để biến tấu thành những món ăn mới lạ nhưng vô cùng hấp dẫn. </p>
                    <p>- Canh kim chi thịt bò là một trong số đó. Đây là một món ăn bổ dưỡng, thơm ngon, phù hợp với khẩu vị của nhiều người.</p>
                        </div>

                </div>

                <div class="clear"></div>

                <div class="content-middle">
                    <div class="col_1_of_2 span_1_of_2">
                        <br />
                        <div class="centerDetail">
                            <h3><span class="red">Nguyên liệu </span></h3>
                            <p>-Thịt bò ( gợi ý là nên dùng các loại thịt mềm như bắp hoặc ba chỉ bò. )</p>
                            <p>-Đậu hủ trắng </p>
                            <p>-Kim chi </p>
                            <p>-Hành tây </p>
                            <p>-Tỏi </p>
                            <p>-Hành boa rô </p>
                            <p>-Ớt bột Hàn Quốc </p>
                            <p>-Dầu ăn </p>
                            <p>-Nước mắm </p>
                            <p>-Đường và muối </p>


                        </div>
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <br />
                        <div class="centerDetail">
                            <h3><span class="red">Cách làm  </span></h3>
                            <h4> Sơ chế </h4>
                            <p>- Rửa sạch đậu hủ trắng với nước sạch,sau đó cắt đậu hủ thành khối vừa ăn. </p>
                            <p>- Hành boa rô thì cắt lấy phần đầu, rửa sạch với nước rồi cắt thành từng lát xéo. </p>
                            <p>-Bóc vỏ tỏi rồi đập dập. Hanh tây sau khi lột vỏ thì cắt thành từng múi cau nhỏ.  </p>
                            <p>- thịt bò thì rửa sạch rồi cắt thành từng miếng mỏng vừa ăn </p>
                            <h4> Cách nấu </h4>
                            <p>- Cho một muỗng canh dầu vào chào đã nóng ( nên xài loại chảo sâu lòng hoặc có thể thay bằng nồi nếu không có chảo sâu lòng ) thả vào chảo 15 tép tỏi đã đập dập, sau khi tỏi đã thơm thì cho bò và hành boa rô vào để lửa vừa rồi xào sơ  </p>
                            <p>- Sau đó thì cho kim chi vào nêm thêm 1/2 muổng cà phê muối, 1 muỗng canh nước mắm, 1 muỗng cà phê đường xào thêm 3 - 5 phút cho hỗn hợp thấm gia vị  </p>
                            <p>- Sau đó bạn cho khoảng 400ml nước vào chảo thịt bò xào đun sôi rồi hạ lửa nhỏ, sau khi thịt bò mềm thì cho hành tây và đậu hũ vào đun tiếp khoảng 3 phút. </p>
                            <p>-Nêm nếm vừa ăn theo khẩu vị mỗi gia đình rồi cho thêm 1 muỗng canh ớt bột Hàn Quốc, khuấy cho tan đều rồi tắt bếp. </p>




                        </div>
                    </div>

                </div>

            <div class="clear"></div>
            <div class="content-last">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/glass.png" alt="">
                    <h3>Các món thức uống</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/plate.png" alt="">
                    <h3>Các món ăn  chính</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/icecream.png" alt="">
                    <h3>Món ngọt</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/leaf.png" alt="">
                    <h3>tìm hiểu thêm</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
               
            </div>
        </div>
    </div>
</body>
</html>

