
@{
    ViewBag.Title = "FoodDetail4";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/banhxeo.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Bánh xèo</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>- Bánh xèo là món ăn truyền thống không thể thiếu của người Việt trên khắp 3 miền.</p>
                        <p>- Mỗi nơi sẽ có một cách chế biến khác nhau nhưng thành phẩm đều sẽ phải đáp ứng các yếu tố như lớp vỏ giòn rụm, phần nhân ngọt thơm, nước chấm đậm đà… và có thể ăn vào bất kỳ thời điểm nào trong ngày, dùng làm món ăn chơi hay ăn no đều được.</p>
                                </p>
                        

                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <p>- Bột bánh xèo </p>
                                <p>- tôm sú </p>
                                <p>- nước cốt dừa</p>
                                <p>- thịt ba chỉ</p>
                                <p>- 2 củ hành tây,hành lá<</p>
                                <p>- cà rốt và củ cải/p>
                                <p>- Gia vị : hạt nêm, bột ngọt, muối, nước mắm, bột nghệ, giấm</p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4>Sơ chế</h4>
                                <p>- Thịt ba chỉ mua về rửa sạch, cắt thành miếng mỏng.</p>
                                <p>- Tôm sú lột bỏ vỏ, cắt phần râu cứng, rút chỉ đen ở lưng rồi rửa sạch.</p>
                                <p>- Cho tôm, thịt ba chỉ vào tô sạch, ướp với 1/2 muỗng hạt nêm, 1 muỗng tiêu, trộn đều cho thấm gia vị và ướp trong khoảng 15 phút.</p>
                                <p>- Hành tây bóc vỏ, rửa sạch, thái mỏng. Hành lá nhặt gốc, rửa sạch, thái nhỏ.</p>
                                <p>- Cà rốt, củ cải trắng gọt vỏ, rửa sạch, bào sợi.</p>
                                <h4>Cách làm</h4>
                                <p>
                                    Pha bột : Hòa tan nước cốt dừa cùng 400ml nước, sau đó cho bột bánh xèo vào, thêm 1 muỗng bột nghệ, một ít hạt nêm, muối, rắc hành lá vào rồi khuấy đều đến khi bột mịn và không còn vón cục. Để bột nghỉ khoảng 20 – 30 phút cho bột nở hoàn toàn.

                                </p>
                                <p>Lưu ý : bột bánh xeo đóng gói thường được nêm nếm sẵn nên bạn không cần nêm thêm quá nhiều gia vị. Chú ý không nên pha bột quá đặc sẽ khiến vỏ bánh bị dày, khó chín.</p>
                                <p>
                                    Xào nhân: Bắc chảo dầu lên bếp, khi dầu sôi bạn cho thịt vào xào săn với lửa nhỏ. Khi thịt đã chín thì vớt ra, tiếp tục cho tôm vào, xào trong khoảng 5 phút đến khi tôm chín thơm.

                                </p>
                                <p>Đổ bánh xèo: </p>
                                <p>Cho 1 muỗng dầu ăn vào chảo chống dính, chờ dầu sôi. Đổ một vá bột vào, nghiêng chảo để tráng đều lớp bột. </p>
                                <p>Sau đó thả tôm, thịt, hành tây và một ít giá vào, đậy vung khoảng 30 giây cho bột chín. Chiên bánh ở đến khi vỏ bánh vàng giòn, gập đôi bánh và chiên phần còn lại đến khi bánh giòn đều 2 mặt.</p>
                                <p>Pha nước chấm </p>
                                <p>bạn hòa tan 3 muỗng đường với 1/2 chén nước mắm, 1/2 chén nước ấm, 1 muỗng nước cốt chanh. Cho thêm tỏi, ớt băm nhỏ vào là đủ vị.</p>
                                <p>làm đồ chua </p>
                                <p>Cho củ cải trắng và cà rốt đã thái sợi vào tô, ướp với 2 muỗng đường, 5 muỗng giấm, 200ml nước lọc, trộn đều và để nguyên trong khoảng 10 phút để củ cải, cà rốt mềm ra.</p>




                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>