

@{
    ViewBag.Title = "FoodDetail3";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/canhkimchi.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Canh kim chi thịt bò</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                    <p>- Kim chi là một món ăn truyền thống của người Hàn Quốc và ngày càng phổ biến tại Việt Nam. Ngoài được sử dụng để làm món ăn kèm, kim chi còn được dùng để biến tấu thành những món ăn mới lạ nhưng vô cùng hấp dẫn. </p>
                    <p>- Canh kim chi thịt bò là một trong số đó. Đây là một món ăn bổ dưỡng, thơm ngon, phù hợp với khẩu vị của nhiều người.</p>
                        </div>

                </div>

                <div class="clear"></div>

                <div class="content-middle">
                    <div class="col_1_of_2 span_1_of_2">
                        <br />
                        <div class="centerDetail">
                            <h3><span class="red">Nguyên liệu </span></h3>
                            <p>Nguyên liệu 1 : </p>
                            <p>Nguyên liệu 2 : </p>
                            <p>Nguyên liệu 3 : </p>


                        </div>
                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <p> Bước 1 : </p>
                                <p> Bước 2 : </p>



                            </div>
                        </div>

            </div>

            <div class="clear"></div>
            <div class="content-last">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/glass.png" alt="">
                    <h3>Các món thức uống</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/plate.png" alt="">
                    <h3>Các món ăn  chính</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/icecream.png" alt="">
                    <h3>Món ngọt</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="~/images/leaf.png" alt="">
                    <h3>tìm hiểu thêm</h3>
                    <p></p>
                    <button class="btn1 btn-8 btn-8a">Read More</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
               
            </div>
        </div>
    </div>
</body>
</html>

