
@{
    ViewBag.Title = "FoodDetail8";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/cha-bong-ca-hoi.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Chà bông cá hồi</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>Cá hồi là một loại cá chứa rất nhiều dinh dưỡng như omega, DHA, vitamin cùng các vi chất có lợi cho sự phát triển của trẻ nhỏ. </p>
                       
                        <p>Trong thời kỳ ăn dặm, các bé cần được bổ sung tối đa những dưỡng chất trên để cơ thể phát triển một cách toàn diện. Nếu thêm một cá hồi vào khẩu phần ăn của các bé thì sẽ có thể bổ sung thêm những chất cần thiết cho quá trình phát triển của trẻ. Khi làm thành chà bông sẽ giúp cho các bé dễ ăn và dễ tiêu hoá. </p>
                   </p>
                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <p> Cá hồi </p>
                                <p> sữa tươi không đường </p>
                                <p> gừng </p>
                                <p> muối </p>
                                <p> hành tím </p>
                                <p> sả </p>
                                <p> rượu trắng </p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4> Sơ chế </h4>
                                <p> Cá hồi sau khi rửa sạch với nước muối loãng thì đem ngâm với sữa trong vòng 40 phút. Tiếp theo, vớt cá ra lau khô rồi xếp ra tô. </p>
                                <p> Gừng cạo sạch vỏ, sả thì lột vỏ ngoài rồi cắt bỏ phần lá.</p>
                                <h4> Cách làm </h4>
                                <p> Đập dập gừng, sả rồi cho thêm muối, rượu vào trộn đều với cá và mang đi hấp.  </p>
                                <p> Khi cá chín, bạn đợi cá nguội. Trong lúc đó thì bạn gắp sả và gừng ra hết. Khi cá đã nguội rồi thì bạn lấy chày giã nát ra.</p>
                                <p> Tiếp theo cho cá vào chảo sâu lòng chống dính, đảo đều trên lửa nhỏ. Công đoạn này bạn phải làm đều tay, khi cá tơi và bông thì bạn có thể tắt bếp đi. Sau khi rang, cá có màu vàng nâu, trông rất ngon mắt.</p>
                                <p> Khi chà bông cá hồi đã nguội hẳn thì bạn cho vào hũ thủy tinh đậy kín để bảo quản. Nếu dùng lâu thì bạn để chà bông cá vào ngăn mát trong tủ lạnh.</p>



                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>