
@{
    ViewBag.Title = "FoodDetail7";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/donut.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Bánh donut</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>Từ lâu, donut đã là món ngon được nhiều người trên thế giới ưa thích bởi hình dáng xinh xắn cùng hương vị ngọt ngào. </p>
                        <p>Để tạo ra donut không khó, dù có lò nướng hay không thì bạn vẫn có thể dễ dàng làm được.</p>
                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <h4> Phần bánh </h4>
                                <p> Sữa tươi </p>
                                <p> Đường </p>
                                <p> Mem nở </p>
                                <p> Bột mì </p>
                                <p> Đường bột </p>
                                <p> Muối </p>
                                <p> Bơ lạc </p>
                                <p> Trứng gà </p>
                                <p> Dầu ăn </p>
                                <h4> Trang trí </h4>
                                <p> Socola trắng đen hoặc hồng </p>
                                <p> kẹo cốm, hạch nhân rang, bột macha </p>
                                <h4> dụng cụ </h4>
                                <p> Nồi, bếp, rây bột, giấy nến, tô, bọc thức ăn, khung tròn đường kính 8cm, một khung tròn khác đường kính nhỏ hơn. </p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4> Làm phần bột  </h4>
                                <p> Cho 100 ml sữa tươi 40 độ, 5 gr đường, 5 gr men nở vào tô, trộn đều, để 10 phút cho men nở lên men </p>
                                <p> Lấy một cái tô lớn hơn, cho 400 gr bột mì (lọc qua một cái ray để bột được mịn), 40 gr đường bột, 2 gr muối, 65 gr bơ lạc đun chảy, 90 ml sữa tươi, 1 quả trứng gà vào chung với bột mì. </p>
                                <p> Trộn lên, cho hỗn hợp ở bước 1 vào, trộn lần nữa đến khi thấy bột mịn thành khối. Dùng bọc thức ăn bọc mặt tô lại và để bột nghỉ trong vòng 10 phút. </p>
                                <p> Sau 10 phút lấy khối bột ra, rắc một ít bột áo ra mặt bàn để chống dính, nhào bằng tay khoảng 20 phút đến khi thấy bột thật mịn. Với bước này cũng có thể sử dụng máy nhào bột (nếu có) sẽ đỡ tốn thời gian và công sức hơn khi nhào bột bằng tay.</p>
                                <p> Cho lại bột vào một cái tô, quét một lớp dầu lên bề mặt bột để bột không bị khô. Dùng bọc thức ăn bọc mặt tô lại và ủ trong vòng 1 tiếng với nhiệt độ phòng. </p>
                                <h4> Tạo hình bánh </h4>
                                <p> Rắc một ít bột áo ra mặt bàn để chống dính, cho khối bột ra bàn, dùng cây cán khối bột mỏng ra khoảng 8mm-1cm. </p>
                                <p> Dùng khung tròn, đường kính 8cm ấn lên bề mặt bột để tạo hình cho bánh, và một khung tròn nhỏ hơn để tạo hình tròn bên trong. </p>
                                <p> Làm đến khi hết số bột đã chuẩn bị, đặt bánh vào khay có lót sẵn giấy nến, ủ 20 phút.</p>
                                <h4> Chiên bánh </h4>
                                <p> Cho ngập dầu vào nồi nhôm, để dầu sôi rồi vặn về chế độ lửa vừa, tiếp đến cho bánh vào chiên (Lưu ý: Phải chiên bánh ngập dầu thì bánh mới giòn ngon). </p>
                                <p> Chiên đến khi bánh chín đều và vàng ruộm thì vớt ra, cho vào đĩa có lót sẵn giấy thấm dầu. </p>
                                <h4> trang trí bánh </h4>
                                <p> Đun chảy phần socola đã chuẩn bị, sau đó nhúng 1 mặt bánh donut đã chiên vào. </p>
                                <p> Nhân lúc chocolate còn nóng, bạn dùng sô-cô-la bào vụn, kẹo cốm màu, hạnh nhân rang, macha và đường bột trang trí tùy thích nữa là xong.</p>





                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>