
@{
    ViewBag.Title = "FoodDetail5";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/icedamericano.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Iced americano</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>- Cafe americano hay còn có tên gọi khác là american coffee.Đây là một loại đồ uống từ cafe và được xem là thức uống truyền thống của người Mỹ.</p>
                        <p>- Ban đầu người mỹ rất ưu chuộng loại cà phê Espresso, dù Espresso mang chất ca phê thuần tuý nhưng đôi khi lại dễ khiến cho người uống bị say, làm cho họ chóng mặt hoặc mất tập trung. Thêm nữa thì do Espresso có vị đắng nên không phải bất kì ai cũng có thể uống được. Vì thế vào thời gian thế chiến khi đóng quân tại Ý, lính mỹ đã biến tấu để khiến cho cà phê dễ uống hơn với tất cả mọi người. Về sau loại đồ uống này dần trở thành thức uống ưu chuộng của người mỹ và trở nên nổi tiếng toàn thế giới.</p>
                            </p>

                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Chuẩn bị </span></h3>
                                <p>Máy pha cafe Espresso </p>
                                <p>Hạt cà phê hoặc cà phê xay sẵn : dùng loại Robusta hoặc Arabica. Đây là hai loại hạt cafe phổ biến và nổi tiếng nhất thế giới để cho ra những ly cafe đậm vị.  </p>
                                <p>Nước tinh khiết</p>
                                <p>Đường trắng</p>
                                <p>Ly đựng cafe: Khuyến khích chọn loại ly có quai (loại ly uống trà). Loại ly này sẽ dễ cầm hơn khi hợp bạn muốn uống American coffee nóng.</p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <p> Bước 1 :Nghiền khoảng 8 – 10gr hạt cafe thành bột nhuyễn mịn trước khi cho vào máy pha cà phê Espresso. </p>
                                <p> Bước 2 :Cho bột cafe vào bộ lọc porter – đây là một bộ phận trong máy ép cafe có hình giống như cái tách có tay cầm nhưng bằng kim loại.  </p>
                                <p> Bước 3: Lắp bộ lọc porter nằm ngang với máy ép và vặn về bên phải để khớp với máy pha cafe.</p>
                                <p> Bước 4: Đặt ly đựng cafe dưới bộ lọc porter rồi mở công tắc trên máy để kích hoạt cho nước nóng lên. Lúc này nước nóng trong máy sẽ chảy xuống phần bột cafe đang bị ép dưới áp suất lớn để tạo ra cafe. Khi cốc đầy khoảng 2/3 thì dừng lại và lúc này bạn đang cầm trên tay một cốc Espresso.</p>
                                <p> Bước 5: Tạo ra cafe Americano từ Espresso bằng cách cho 30 đến 70ml nước sôi vào ly Espresso. Việc cho thêm nước sôi tùy vào độ đậm nhạt của cốc American mà bạn muốn.</p>



                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>