
@{
    ViewBag.Title = "FoodDetail9";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Spicy-Foods a Hotels and Restaurants Category Website Template | Products :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <div class="total">

            <div class="menu">
                <div class="top-nav">

                </div>
            </div>
            <div class="main">
                <div class="prod">
                    <div class="imgDetail">
                        <img src="~/images/cotletram.jpg" alt="" />
                    </div>
                    <div class="h1_detail">
                        <h1>Sườn cốt lết ram</h1>
                    </div>
                    <p style="text-align :center">-----------</p>
                    <div class="foodDetail">
                        <p>Thịt ram làm từ sườn cốt lết mềm thơm, thấm đều gia vị sẽ là gợi ý hoàn hảo cho bữa ăn của bạn.</p>
                        <p>Sườn ram muốn ngon thì phải được ướp đậm đà, sau đó rim sao để có màu thật đẹp.</p>

                    </div>

                    <div class="clear"></div>

                    <div class="content-middle">
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Nguyên liệu </span></h3>
                                <p> Cốt lết heo </p>
                                <p> tỏi, hành tím </p>
                                <p> gia vị : nước mắm, đường, tương ớt, nước tương, tiêu </p>
                            </div>

                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <br />
                            <div class="centerDetail">
                                <h3><span class="red">Cách làm  </span></h3>
                                <h4> Sơ Chế </h4>
                                <p> Để sườn được sạch và mềm hơn, bạn ngâm sườn trong nước muối loãng khoảng 15 - 20 phút sau đó rửa sạch lại với vài lần nước. </p>
                                <p> hành tím 3 củ lột bỏ vỏ, đập dập rồi cắt nhỏ</p>
                                <h4> Cách nấu </h4>
                                <p> Cho sườn vào tô và ướp với 2 muỗng tương ớt, 1 muỗng đường, 3 muỗng nước mắm ,hành tím băm nhỏ, 1 muỗng cà phê tiêu sau đó trộn đều và để cho thịt thấm gia vị khoảng 15 - 20 phút. </p>
                                <p> Bắc chảo lên bếp, cho 4 muỗng canh dầu ăn vào đun nóng, sau đó cho phần sườn vào, chiên sơ ở lửa vừa cho sườn chín vàng đều cả 2 mặt. </p>
                                <p> Tiếp theo cho vào  50ml nước lọc (khoảng 1 chén). Tiến hành rim thịt ở lửa vừa cho đến khi phần nước sốt sệt, sánh lại là được.</p>



                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="content-last">
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/glass.png" alt="">
                            <h3>Các món thức uống</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/plate.png" alt="">
                            <h3>Các món ăn  chính</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/icecream.png" alt="">
                            <h3>Món ngọt</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <img src="~/images/leaf.png" alt="">
                            <h3>tìm hiểu thêm</h3>
                            <p></p>
                            <button class="btn1 btn-8 btn-8a">Read More</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">

                </div>
            </div>
        </div>
</body>
</html>