
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
   
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
  
            
            <div class="main">
                <div class="prod">
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/Suonnon.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3><a href="~/Product/FoodDetail1">Sườn non hầm rau củ</h3></a>
                        </div>

                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/canhga.jpg" style="  height:180px;" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="~/Product/FoodDetail1" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3><a href="~/Product/FoodDetail2">Cánh gà nướng mật ong</h3>
                          </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/canhkimchi.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="~/Product/FoodDetail3" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3> <a href="~/Product/FoodDetail3"> Canh kim chi thịt bò</h3></a>
                    </div>
                    <div class="clear"></div>
                </div>


                <div class="prod">
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/banhxeo.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3><a href="~/Product/FoodDetail4"> Bánh xèo</h3></a>
                        </div>


                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/icedamericano.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>

                        <h3> <a href="~/Product/FoodDetail5">Iced americano</h3></a>
                            </div>



                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/laugalagiang.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3><a href="~/Product/FoodDetail6">Lẩu gà lá giang</h3></a>
                           </div>
                    <div class="clear"></div>
                </div>


                <div class="prod-last">
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/donut.jpg" style="  height:180px;" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3> <a href="~/Product/FoodDetail7">Bánh donut</h3></a>

                             </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/cha-bong-ca-hoi.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                        <h3><a href="~/Product/FoodDetail8">Chà bông cá hồi</h3></a>
                          </div>



                    <div class="col_1_of_3 span_1_of_3">
                        <div class="view effect">
                            <img src="~/images/cotletram.jpg" alt="" />
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>

                        <h3><a href="~/Product/FoodDetail9">Sườn cốt lết ram</h3></a>
                          </div>
                    <div class="clear"></div>
                </div>
                <div class="content-last">
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/images/glass.png" alt="">
                        <h3>Các món thức uống</h3>
                        <p></p>
                        <button class="btn1 btn-8 btn-8a">Read More</button>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/images/plate.png" alt="">
                        <h3>Các món ăn  chính</h3>
                        <p></p>
                        <button class="btn1 btn-8 btn-8a">Read More</button>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/images/icecream.png" alt="">
                        <h3>Món ngọt</h3>
                        <p></p>
                        <button class="btn1 btn-8 btn-8a">Read More</button>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/images/leaf.png" alt="">
                        <h3>tìm hiểu thêm</h3>
                        <p></p>
                        <button class="btn1 btn-8 btn-8a">Read More</button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
               
            </div>
        </div>
    </div>
</body>
</html>




<h2>Food</h2>

